{{ header }}

<div class="page__wrapper">

  <nav class="breadcrumbs page__breadcrumbs" aria-label="Дополнительная навигация">
    <ol class="breadcrumbs__list">
      {% for key, breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__item">
          {% if key + 1 < breadcrumbs|length %}
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          {% else %}
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}" aria-current="page">{{ breadcrumb.text }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>

  <main class="main page-product">

    <header class="page-product__header" data-scroll-on-load data-scroll-maxvw="607">
      <h1 class="title title--2 page-product__title">{{ heading_title }}</h1>

      {% if rating %}
        <div class="stars stars--product-header">
          <span class="stars__elem stars__average-rating-caption">Средняя оценка:</span>
          <div class="stars__group stars__elem">
            <div class="stars__rating" style="width: {{rating_percent}}">
              <div class="stars__scale"></div>
            </div>
          </div>
          <span class="stars__elem stars__average-rating">{{ rating }}</span>
          <a class="stars__elem stars__review-link link" href="#">
            <span class="visually-hidden">Количество отзывов:</span>
            <span>{{ review_count_with_posttext }}</span>
          </a>
        </div>
      {% endif %}

      <div>
        <span class="page-product__code-caption page-product__code-caption--short" aria-hidden="true">{{ text_model }}</span>
        <span class="page-product__code-caption page-product__code-caption--full">{{ text_model_full }}</span>
        <span class="page-product__code">{{ model }}</span>
      </div>
    </header>


    {% if images %}
      <section class="page-product__gallery">
        <h2 class="visually-hidden">Изображения товара</h2>
        <div class="slider slider--snapped-items slider--holy-albatros">
          {# * Слайдер #}
          <div class="slider__list-container">
            {% if xdstickers is not empty %}
              <div class="product-stickers">
                {% for xdsticker in xdstickers %}
                  <strong class="product-stickers__sticker {{xdsticker.id}}">{{xdsticker.text}}</strong>
                {% endfor %}
              </div>
            {% endif %}
            <ul class="slider__list">
              {% for image in images %}
                <li class="slider__item" id="slider__item-{{ loop.index }}">
                  <div class="slider__image-container">
                    {% if loop.index == 1  %}
                      <img class="slider__image"
                        {% if images|length > 1 %}
                          sizes="(min-width: 1456px) 444px,
                            (min-width: 980px) calc(((100vw - 130px) / 3) - 4px),
                            (min-width: 512px) calc(50vw - 4px), 100vw"
                        {% else %}
                          sizes="(min-width: 1456px) 736px,
                            (min-width: 980px) calc((2 * (100vw - 112px) / 3 ) - 10rem),
                            (min-width: 512px) calc(100vw - 10rem), 100vw"
                        {% endif %}
                        srcset="{{ image.thumb444w }} 444w, {{ image.thumb640w }} 640w, {{ image.thumb920w }} 920w, {{ image.thumb1220w }} 1220w"
                        src="{{ image.thumb }}" width="360" height="360" alt="{{ heading_title }}">
                    {% else %}
                      <img class="slider__image"
                        sizes="(min-width: 1456px) 444px,
                          (min-width: 980px) calc(((100vw - 130px) / 3) - 4px),
                          (min-width: 512px) calc(50vw - 4px), 100vw"
                        srcset="catalog/view/theme/pm/img/svg/lazy-dummy.svg 1w"
                        data-srcset="{{ image.thumb444w }} 444w, {{ image.thumb640w }} 640w, {{ image.thumb920w }} 920w, {{ image.thumb1220w }} 1220w"
                        src="{{ image.thumb }}" loading="lazy" width="360" height="360" alt="{{ heading_title }}">
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
          {# * превью изображений #}
          {% if images|length > 1 %}
            <div class="slider__nav">
              <ul class="slider__nav-list">
                {% for image in images %}
                  <li class="slider__nav-item">
                    <a class="slider__nav-link" href="#slider__item-{{ loop.index }}" aria-label="Перейти к изображению {{ loop.index + 1 }}">
                      <img class="slider__nav-image"
                        srcset="catalog/view/theme/pm/img/svg/lazy-dummy.svg 1x"
                        data-srcset="{{ image.thumb96w }} 1x"
                        src="{{ image.thumb96w }}" loading="lazy" width="48" height="48" alt="">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </section>
    {% endif %}


    <section class="offer page-product__offer">
      <h2 class="visually-hidden">Информация о предложении и покупка</h2>

      {% if price %}
        <p class="price offer__price">
          {% if not special %}
            <span class="visually-hidden">{{ price }}</span>
            <span class="price__current price__current--big" aria-hidden="true">{{ price_before }}<sup>{{ price_after }}</sup> р.</span>
          {% else %}
            <span class="visually-hidden">{{ special }}</span>
            <span class="price__current price__current--discount price__current--big" aria-hidden="true">{{ special_before }}<sup>{{ special_after }}</sup> р.</span>
            <del class="price__old">{{ price }}</del>
            <strong class="price__discount-info">{{ special_discount_text }}</strong>
          {% endif %}
        </p>
      {% endif %}

      <div class="offer__short-info">
        {% if manufacturer %}
          <div class="page-product__short-info-item">
            <span class="offer__short-info-term">{{ text_product_manufacturer }}</span>
            <span class="offer__short-info-value">{{ manufacturer }}</span>
          </div>
        {% endif %}
        <div class="offer__short-info-item">
          <span class="offer__short-info-term">{{ text_stock }}</span>
          <span class="offer__short-info-value offer__short-info-value--instock">{{ stock }}</span>
        </div>
      </div>


      {# * рекламный блок #}
      <section class="alert alert--info offer__alert">
        <h3 class="visually-hidden">Специальное предложение</h3>
        Этот товар можно купить с дополнительной скидкой 10% после регистрации.
        <br>
        <a class="link" href="#">Зарегистрироваться</a>
        или
        <a class="link" href="#">Войти</a>
      </section>


      {# * инфо о доставке #}
      <section class="delivery-info offer__delivery-info">
        <h3 class="visually-hidden">Выбор населенного пункта для доставки</h3>
        <div class="city-choose delivery-info__city-choose">
          <span class="city-choose__caption">Доставка в город: </span>
          <button class="link city-choose__button" data-modal="#modalCity">
            <svg class="icon icon--2x icon--stroked city-choose__pin-icon" width="24" height="24">
              <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-place"></use>
            </svg>
            <span class="visually-hidden">Текущий выбор: </span>
            <span class="city-choose__current-city">г.&nbsp;Минск</span>
            <svg class="icon icon--stroked" width="24" height="24">
              <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="delivery-info__delivery-list">
          <ul class="list" data-showmore data-showmore-action="hideNodes" data-showmore-nodes="2" data-showmore-showtext="Показать все варианты доставки" data-showmore-hidetext="Скрыть дополнительные варианты" data-showmore-button-class="delivery-info__showmore-button">
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Курьером</span>
              <span>сегодня после 18-00 -</span>
              <strong class="delivery-info__price">5 руб.</strong>
            </li>
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Самовывоз</span>
              <span>метро Спортивная сегодня после 18-00 -</span>
              <strong class="delivery-info__price delivery-info__price--free">бесплатно</strong>
            </li>
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Самовывоз</span>
              <span>метро Восток завтра -</span>
              <strong class="delivery-info__price delivery-info__price--free">бесплатно</strong>
            </li>
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Самовывоз</span>
              <span>торговый центр Шик 02.11.19 -</span>
              <strong class="delivery-info__price delivery-info__price--free">бесплатно</strong>
            </li>
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Самовывоз</span>
              <span>метро Восток 08.11.19 -</span>
              <strong class="delivery-info__price delivery-info__price--free">бесплатно</strong>
            </li>
            <li class="list__item delivery-info__item">
              <span class="delivery-info__type">Самовывоз</span>
              <span>торговый центр Шик 08.11.19 -</span>
              <strong class="delivery-info__price delivery-info__price--free">бесплатно</strong>
            </li>
          </ul>
        </div>
      </section>


      {# * Форма покупки (добавить опции при необходимости позже) #}
      <form action="index.php?route=checkout/cart/add" method="POST" data-cart-event="submit" data-cart-action="add" data-cart-loading-selector="[data-offer-buy-button]" data-cart-loading-color="#fff" data-product-id="{{ product_id }}">

        {% if options %}
          <section class="offer__options">
            <h3 class="visually-hidden">{{ text_option }}</h3>
            {% for option in options %}
              {% if option.type == 'radio' %}
                <fieldset class="chip-set chip-set--wrap offer__chip-set" aria-labelledby="input-option{{ option.product_option_id }}">
                  <span class="chip-set__element chip-set__label" id="input-option{{ option.product_option_id }}">{{ option.name }}:</span>
                  {% for option_value in option.product_option_value %}
                    <label class="chip-set__element chip-set__chip">
                      <input class="chip-set__input visually-hidden" type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" required>
                      <span class="chip-set__box chip-set__box--base chip-set__box--big">
                        {{ option_value.name }}
                        {% if option_value.price %}
                          ({{ option_value.price_prefix }}{{ option_value.price }})
                        {% endif %}
                      </span>
                    </label>
                  {% endfor %}
                </fieldset>
              {% endif %}
            {% endfor %}
          </section>
        {% endif %}

        <div class="offer__buy">
          <input type="hidden" name="product_id" value="{{ product_id }}">
          {# количество #}
          <div class="offer__buy-elem offer__buy-elem--quantity textfield custom-select">
            <div class="visually-hidden" aria-live="polite"></div>
            <label class="textfield__input-container">
              <span class="textfield__trailing-icon textfield__trailing-icon--dropdown"></span>
              <input class="textfield__input" type="text" name="quantity" autocomplete="off" value="1" readonly>
              <span class="textfield__label">Количество</span>
            </label>

            <ul class="custom-select__list custom-select__list--closed">
              <li class="custom-select__item">
                <strong class="custom-select__item-title">1</strong>
              </li>
              <li class="custom-select__item">
                <strong class="custom-select__item-title">2</strong>
              </li>
              <li class="custom-select__item">
                <strong class="custom-select__item-title">3</strong>
              </li>
              <li class="custom-select__item">
                <strong class="custom-select__item-title">4</strong>
              </li>
              <li class="custom-select__item">
                <strong class="custom-select__item-title">5</strong>
              </li>
            </ul>
          </div>

          <button class="offer__buy-elem offer__buy-elem--love button button--action-secondary" type="button">
            <svg class="button__icon button__icon--love" width="24" height="24">
              <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-love"></use>
            </svg>
            <span class="visually-hidden">Сохранить в избранное</span>
          </button>

          <button class="offer__buy-elem offer__buy-elem--buy button button--action-primary" data-offer-buy-button type="submit">Купить</button>
        </div>


      </form>

      {# * уведомление о снижении цены #}
      {% if price %}
        <div class="offer__price-notification">
          <b>Слишком дорого?</b> Мы можем уведомить вас, когда цена на товар снизится.
          <button class="link">Следить за ценой</button>
        </div>
      {% endif %}

      {# * инфо о гарантии и возврате #}
      {% if guarantee or refund %}
        <dl class="offer__refund">
          {% if guarantee %}
            <dt class="offer__refund-dt">Гарантия:</dt>
            <dd class="offer__refund-dd">{{ guarantee }} месяцев</dd>
          {% endif %}
          {% if refund %}
            <dt class="offer__refund-dt">Возврат товара:</dt>
            <dd class="offer__refund-dd">в течение {{ refund }} дней</dd>
          {% endif %}
        </dl>
      {% endif %}

      {# * поделиться #}
      <aside class="offer__share">
        <h3 class="offer__share-caption">Рассказать друзьям</h3>

        <ul class="offer__share-list">
          <li>
            <a class="offer__share-link" href="#">
              <span class="visually-hidden">Поделиться в Viber</span>
              <svg class="offer__share-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true" focusable="false">
                <path fill="#7d3daf" d="M0 0h24v24H0z" />
                <g fill="#fff">
                  <path d="M19.6 7.7a5.5 5.5 0 00-3.7-3.5 20.6 20.6 0 00-7.8 0 5.5 5.5 0 00-3.7 3.5 15.1 15.1 0 000 6.6A5.5 5.5 0 008 17.8v1.7a.7.7 0 001.2.5l1.8-1.8H12a20.6 20.6 0 003.9-.4 5.5 5.5 0 003.7-3.5 15.1 15.1 0 000-6.6zM18.2 14a4.1 4.1 0 01-2.6 2.5 19.2 19.2 0 01-4.1.4.1.1 0 00-.1 0l-1.3 1.3-1.3 1.4a.2.2 0 01-.3 0v-3a4.1 4.1 0 01-2.7-2.6 13.7 13.7 0 010-5.9 4.1 4.1 0 012.6-2.5 19.1 19.1 0 017.2 0A4.1 4.1 0 0118.2 8a13.7 13.7 0 010 6z" />
                  <path d="M14.3 15.3l-.5-.2a10.3 10.3 0 01-3.9-2.6 10.1 10.1 0 01-1.5-2.3L8 9.1a1 1 0 01.3-1 2.4 2.4 0 01.8-.7.5.5 0 01.7.2 8.3 8.3 0 011 1.4.7.7 0 01-.2.9c-.1 0-.2 0-.2.2a.7.7 0 00-.2.1.5.5 0 000 .4 3.7 3.7 0 002 2.3 1 1 0 00.6.2c.3 0 .4-.4.6-.6a.6.6 0 01.8 0l.7.4a8.1 8.1 0 01.7.5.5.5 0 01.1.7 2.2 2.2 0 01-1 1 2.3 2.3 0 01-.3.2c-.2 0 .1 0 0 0zM12 7a4 4 0 013.8 3.2l.1 1a.2.2 0 01-.2.2c-.1 0-.2-.1-.2-.3v-.8a3.4 3.4 0 00-2.8-2.8l-.7-.1c-.1 0-.3 0-.3-.2a.2.2 0 01.2-.3h.1c2 0 0 0 0 0z" />
                  <path d="M15 10.7a.9.9 0 010 .1.2.2 0 01-.5 0 .6.6 0 010-.1 2.3 2.3 0 00-.3-1.2 2.2 2.2 0 00-1-.8 2.6 2.6 0 00-.7-.3h-.3a.2.2 0 01-.2-.2.2.2 0 01.2-.2 3 3 0 011.3.3 2.5 2.5 0 011.4 2v.4s0-.1 0 0z" />
                  <path d="M13.7 10.7a.2.2 0 01-.2-.3 2.4 2.4 0 000-.3.9.9 0 00-.4-.5.8.8 0 00-.3-.1h-.3a.2.2 0 01-.2-.3.2.2 0 01.2-.2 1.3 1.3 0 011.4 1.3.6.6 0 010 .2.2.2 0 01-.2.2c-.1 0 .1 0 0 0z" />
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a class="offer__share-link" href="#">
              <span class="visually-hidden">Поделиться в Вконтакте</span>
              <svg class="offer__share-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true" focusable="false">
                <path fill="#44678d" d="M0 0h24v24H0z" />
                <path d="M6.2 7.3a15.8 15.8 0 002.3 4 2.1 2.1 0 00.4.4.3.3 0 00.6-.2 5 5 0 00.2-1.2V8.1a1 1 0 00-1-1c-.2-.1-.3-.3-.1-.5a1.5 1.5 0 011.2-.5h2.4a4.6 4.6 0 01.9.1.9.9 0 01.7.8 3.3 3.3 0 010 .6v2.7a4.6 4.6 0 000 1c.2.5.5.6.8.3a11.6 11.6 0 001.2-1.5 14.2 14.2 0 001.5-2.9c.2-.5.3-.6.9-.6h3.2a2 2 0 01.5 0 .5.5 0 01.4.7 5.3 5.3 0 01-1 1.9l-2 2.7a3.4 3.4 0 00-.2.3.8.8 0 00.1 1.1l1.8 1.8a10.4 10.4 0 011.1 1.4.8.8 0 01-.6 1.4h-3a2.3 2.3 0 01-1.6-.7l-1.4-1.5a4 4 0 00-.4-.4c-.4-.3-.8-.2-1 .3a8.8 8.8 0 00-.3 1.5.8.8 0 01-.8.7 7.9 7.9 0 01-4.3-.8 9 9 0 01-2.8-2.4 30 30 0 01-3.2-5.2l-1-2.1a.5.5 0 01.3-.7h3.2a1 1 0 011 .7z" fill="#fff" />
              </svg>
            </a>
          </li>
          <li>
            <a class="offer__share-link" href="#">
              <span class="visually-hidden">Поделиться в Facebook</span>
              <svg class="offer__share-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true" focusable="false">
                <path fill="#fff" d="M0 0h24v24H0z" />
                <path d="M0 0v24h12.8v-9.3H9.7V11h3V7.8A4.2 4.2 0 0117 3.6h3.2V7H18a1.3 1.3 0 00-1.3 1.3V11h3.6l-.5 3.8h-3.1V24H24V0z" fill="#3a559f" />
              </svg>
            </a>
          </li>
          <li>
            <a class="offer__share-link" href="#">
              <span class="visually-hidden">Поделиться в одноклассниках</span>
              <svg class="offer__share-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path fill="#f7931e" d="M0 0h24v24H0z" />
                <g fill="#fff">
                  <path d="M12 4a4.4 4.4 0 104.3 4.4A4.4 4.4 0 0012 4zm0 6.2a1.8 1.8 0 111.8-1.8 1.8 1.8 0 01-1.8 1.8z" />
                  <path d="M13.5 16.2a7 7 0 002.8-1.2 1.2 1.2 0 00.2-1.7 1.2 1.2 0 00-1.6-.2 5.1 5.1 0 01-3 1 5.2 5.2 0 01-3-1 1.2 1.2 0 00-1.6.2 1.2 1.2 0 00.1 1.7 7.2 7.2 0 003 1.2L7.9 19a1.2 1.2 0 000 1.7 1.2 1.2 0 001.7 0l2.3-2.6 2.6 2.5a1.2 1.2 0 001.6 0 1.2 1.2 0 000-1.6z" />
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </aside>

    </section>


    <section class="page-product__details details">
      <h2 class="title title--2 details__title">Сведения о товаре</h2>

      {# * Описание #}
      {% if description %}
        <section class="details__section">
          <h3 class="title title--3 accordion details__section-title" data-accordion-open>{{ tab_description }}</h3>
          <div class="admin-content">{{ description }}</div>
        </section>
      {% endif %}

      {# * Характеристики #}
      {% if attribute_groups %}
        <section class="details__section">
          <h3 class="title title--3 accordion details__section-title" data-accordion-open>{{ tab_attribute }}</h3>
          {% for attribute_group in attribute_groups %}
            <h4 class="title title--6 details__group-header">{{ attribute_group.name }}</h4>
            <dl class="details__attribute-list">
              {% for attribute in attribute_group.attribute %}
                <dt class="details__attribute-name">{{ attribute.name }}</dt>
                <dd class="details__attribute-description">{{ attribute.text }}</dd>
              {% endfor %}
            </dl>
          {% endfor %}
        </section>
      {% endif %}

      {# * отзывы #}
      {% if review_status and reviews %}
        <section class="details__section reviews">
          <h3 class="title title--3 accordion details__section-title" id="reviews-title" data-accordion-open>{{ tab_review }}</h3>
          <div class="reviews__subheader">
            {# звезды и количество отзывов #}
            <div class="reviews__stars">
              <div class="stars stars--product-header">
                <span class="stars__elem stars__average-rating-caption">Средняя оценка:</span>
                <div class="stars__group stars__elem">
                  <div class="stars__rating" style="width: {{ rating_percent }}">
                    <div class="stars__scale"></div>
                  </div>
                </div>
                <span class="stars__elem stars__average-rating">{{ rating }}</span>
                <div class="stars__elem stars__review-link">
                  <span class="visually-hidden">Количество отзывов:</span>
                  <span>{{ review_count_with_posttext }}</span>
                </div>
              </div>
            </div>
            <button class="link reviews__write-button" onclick="window.yulms.accordion.open('.review-write .accordion__button');document.querySelector('.review-write').scrollIntoView({behavior: 'smooth'});">Написать свой отзыв</button>
          </div>
          {% include 'pm/template/product/review.twig' %}
        </section>
      {% endif %}

      {# * написать отзыв #}
      {% if review_status %}
        <section class="details__section review-write">
          <h3 class="title title--3 review-write__title accordion" id="write-review-title" data-accordion-class="review-write__extra-space">{{ text_write }}</h3>

          {% if review_guest %}
            {# атрибут action можно удалить - с включенным js будет работать #}
            <form class="review-write__form" action="index.php?route=product/product/write&product_id={{ product_id }}" method="post" data-product-id="{{ product_id }}">
              {# * звезды #}
              <div class="stars review-write__elem">
                <strong class="stars__elem stars__fieldset-caption" id="stars__fieldset-caption">{{ entry_rating }}</strong>
                <div class="stars__elem">
                  <fieldset class="stars__fieldset" aria-labelledby="stars__fieldset-caption">
                    <div class="stars__input-group">
                      <input class="stars__input" type="radio" name="rating" value="1" aria-label="ужасно">
                      <input class="stars__input" type="radio" name="rating" value="2" aria-label="сносно">
                      <input class="stars__input" type="radio" name="rating" value="3" aria-label="нормально">
                      <input class="stars__input" type="radio" name="rating" value="4" aria-label="хорошо" checked>
                      <input class="stars__input" type="radio" name="rating" value="5" aria-label="отлично">
                    </div>
                    <span class="stars__selected-input" aria-hidden="true"></span>
                  </fieldset>
                </div>
              </div>

              {# * отзыв #}
              <div class="textfield review-write__elem">
                <label class="textfield__input-container">
                  <textarea class="textfield__input" name="text" rows="6" cols="60" required autocomplete="off"></textarea>
                  <span class="textfield__label">{{ entry_review }}</span>
                </label>
                <div class="textfield__help">Опишите свой опыт использования товара</div>
              </div>

              {# * достоинства #}
              <div class="textfield review-write__elem">
                <label class="textfield__input-container">
                  <textarea class="textfield__input" name="advantages" rows="3" cols="60" autocomplete="off"></textarea>
                  <span class="textfield__label">Достоинства</span>
                </label>
                <div class="textfield__help">Коротко опишите, что понравилось в товаре</div>
              </div>

              {# * недостатки #}
              <div class="textfield review-write__elem">
                <label class="textfield__input-container">
                  <textarea class="textfield__input" name="disadvantages" rows="3" cols="60" autocomplete="off"></textarea>
                  <span class="textfield__label">Недостатки</span>
                </label>
                <div class="textfield__help">Что не понравилось?</div>
              </div>

              {# * имя #}
              <div class="textfield review-write__elem review-write__elem--half">
                <label class="textfield__input-container">
                  <input class="textfield__input" type="text" name="name" value="{{ customer_name }}" autocomplete="off" required>
                  <span class="textfield__label">{{ entry_name }}</span>
                </label>
              </div>

              {# * город #}
              <div class="textfield review-write__elem review-write__elem--half">
                <label class="textfield__input-container">
                  <input class="textfield__input" type="text" name="city" autocomplete="off">
                  <span class="textfield__label">Откуда вы?</span>
                </label>
              </div>

              {{ captcha }}

              <button class="button button--options-primary review-write__submit-button" type="submit">Оставить отзыв</button>
            </form>
          {% else %}
            {{ text_login }}
          {% endif %}

        </section>
      {% endif %}

      {# * дополнительная информация #}
      {% if importer or manufacturer_address %}
        <section class="details__section">
          <h3 class="title title--3 accordion details__section-title">Прочая информация</h3>
          <dl class="details__attribute-list">
            <dt class="details__attribute-name">Импортер</dt>
            <dd class="details__attribute-description">{{ importer }}</dd>
            <dt class="details__attribute-name">Производитель</dt>
            <dd class="details__attribute-description">{{ manufacturer_address }}</dd>
          </dl>
        </section>
      {% endif %}

    </section>

    {% if images[0] and price %}
      <section class="page-product__buy-card buy-card">
        <h2 class="visually-hidden">Быстрая покупка</h2>

        <div class="buy-card__inner">

          <div class="buy-card__image-container">
            <img class="buy-card__image"
                sizes="(min-width: 1456px) 444px,
                        (min-width: 980px) calc(((100vw - 130px) / 3) - 4px),
                        (min-width: 512px) calc(50vw - 4px),
                        100vw"
                srcset="catalog/view/theme/pm/img/svg/lazy-dummy.svg 1w"
                data-srcset="{{ images[0].thumb444w }} 444w, {{ images[0].thumb640w }} 640w, {{ images[0].thumb920w }} 920w, {{ images[0].thumb1220w }} 1220w"
                src="{{ image[0].thumb }}" loading="lazy" width="360" height="360" alt="{{ heading_title }}">
          </div>

          <div class="price buy-card__price">
            {% if not special %}
              <span class="visually-hidden">{{ price }}</span>
              <span class="price__current price__current--big" aria-hidden="true">{{ price_before }}<sup>{{ price_after }}</sup> р.</span>
            {% else %}
              <span class="visually-hidden">{{ special }}</span>
              <span class="price__current price__current--discount price__current--big" aria-hidden="true">{{ special_before }}<sup>{{ special_after }}</sup> р.</span>
              <del class="price__old">{{ price }}</del>
              <strong class="price__discount-info">{{ special_discount_text }}</strong>
            {% endif %}
          </div>

          <div class="buy-card__buttons-container">
            <button class="button button--action-primary buy-card__button-buy buy-card__buttons-container-elem" type="button">Купить</button>
            <button class="button button--action-secondary buy-card__button-love buy-card__buttons-container-elem" type="button">
              <svg class="button__icon button__icon--love" width="24" height="24">
                <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-love"></use>
              </svg>
              <span class="button__caption">Сохранить</span>
              <span class="visually-hidden">в избранное</span>
            </button>
          </div>

        </div>
      </section>
    {% endif %}


  </main>
</div>



{{ footer }}
