{# * reCAPTCHA V2 #}
{# <script src="https://www.google.com/recaptcha/api.js" defer></script>

{% if route|slice(0, 9) == 'checkout/' %}
  <label class="control-label" for="input-payment-captcha">{{ entry_captcha }}</label>
  <div id="input-payment-captcha" class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
  {% if error_captcha %}
    <div class="text-danger">{{ error_captcha }}</div>
  {% endif %}
{% else %}
  <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
  {% if error_captcha %}
    <div>{{ error_captcha }}</div>
  {% endif %}
{% endif %} #}



{# * reCAPTCHA V3 #}
<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
