<div class="page__section full-width">
  <section class="page__slider">
    {{html_heading}}
    <div class="slider slider--minicards">
      <div class="slider__list-container">
        <ul class="slider__list">
          {% for banner in banners %}
            <li class="slider__item">
              {% if banner.link %}
                <a class="image-container image-container--ratio-1-2" href="{{ banner.link }}">
                  <img class="image-container__image image-container__image--big-margins"
                    srcset="/catalog/view/theme/pm/img/svg/lazy-dummy.svg"
                    data-srcset="{{ banner.image1x }} 1x, {{ banner.image2x }} 2x, {{ banner.image3x }} 3x"
                    src="{{ banner.image }}" loading="lazy" width="192" height="80" alt="{{ banner.title }}">
                </a>
              {% else %}
                <p class="image-container image-container--ratio-1-2">
                  <img class="image-container__image image-container__image--big-margins"
                    srcset="/catalog/view/theme/pm/img/svg/lazy-dummy.svg"
                    data-srcset="{{ banner.image1x }} 1x, {{ banner.image2x }} 2x, {{ banner.image3x }} 3x"
                    src="{{ banner.image }}" loading="lazy" width="192" height="80" alt="{{ banner.title }}">
                </p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
