<div class="page__section full-width">
  <section class="page__slider">
    <header class="page__slider-header">
      <h2 class="title title--2 page__section-title page__slider-title">Популярные товары</h2>
    </header>
    <div class="slider slider--minicards">
      <div class="slider__list-container">
        <ul class="slider__list">
          {% for product in products %}
            <li class="slider__item">

              <div class="minicard minicard--carousel minicard--grid">

                <a class="minicard__link" href="{{ product.href }}">
                  <h3 class="minicard__title">{{ product.name }}</h3>
                  <p class="image-container minicard__image-container minicard__image-container--full-width">
                    <img class="image-container__image"
                         sizes = "200px"
                         srcset = "/catalog/view/theme/pm/img/svg/lazy-dummy.svg"
                         data-srcset = "{{ product.thumb244w }} 244w, {{ product.thumb366w }} 366w, {{ product.thumb488w }} 488w"
                         src="{{ product.thumb }}" loading="lazy" width="244" height="244" alt="Открыть страницу покупки {{ product.name }}">
                  </p>
                </a>

                {% if product.product_xdstickers is not empty %}
                  <div class="product-stickers">
                    {% for xdsticker in product.product_xdstickers %}
                      <strong class="product-stickers__sticker {{xdsticker.id}}">{{xdsticker.text}}</strong>
                    {% endfor %}
                  </div>
                {% endif %}

                <p class="minicard__brand">
                  <span>Бренд:</span>
                  <span>{{ product.manufacturer }}</span>
                </p>

                {% if product.price %}
                  <p class="price minicard__price">
                    {% if not product.special %}
                      {# без акции #}
                      <span class="visually-hidden">{{ product.price }}</span>
                      <span class="price__current" aria-hidden="true">{{ product.price_before }}<sup>{{ product.price_after }}</sup> р.</span>
                    {% else %}
                      {# акция #}
                      <span class="visually-hidden">{{ product.price }}</span>
                      <span class="price__current price__current--discount" aria-hidden="true">{{ product.special_before }}<sup>{{ product.special_after }}</sup> р.</span>
                      <del class="price__old">{{ product.price }}</del>
                    {% endif %}
                  </p>
                {% endif %}

                {% if product.rating %}
                  <div class="stars stars--short minicard__stars">
                    <span class="stars__elem stars__average-rating-caption">Средняя оценка:</span>
                    <div class="stars__group stars__elem">
                      <div class="stars__rating" style="width: {{product.rating_percent}}">
                        <div class="stars__scale"></div>
                      </div>
                    </div>
                    <span class="stars__elem stars__average-rating">{{product.rating}}</span>
                    <a class="stars__elem stars__review-link link" href="product.html#reviews-title">
                      <span class="visually-hidden">Количество отзывов:</span>
                      <span>{{product.reviews}}</span>
                      <span class="stars__quantity-caption">отзывов</span>
                    </a>
                  </div>
                {% endif %}

                <button class="button minicard__love-button" type="button" onclick="window.newwishlist.add('{{ product.product_id }}');">
                  <span class="visually-hidden">Добавить в избранные товары</span>
                  <svg class="minicard__love-icon icon icon--stroked" width="24" height="24">
                    <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-love"></use>
                  </svg>
                </button>
              </div>

            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>


{#

<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div> #}
