<form id="form-{{ link }}{{ product_id }}">
 {% if product_id == -1 %}
 <div class="alert alert-info text-center">{{ notice_empty_field }}</div>
 <p><span class="be-help"><label><input name="none[{{ link }}]" type="checkbox" /> {{ text_not_contain }} > {{ title }}</label></span></p>
 {% endif %}
 {% if product_id > 0 %}
 <table class="be-form">
  <tr>
   <td width="1%"><img src="{{ product_image }}" alt="{{ product_name }}" title="{{ product_name }}" /></td>
   <td width="99%"><h3>{{ product_name }}</h3></td>
  </tr>
 </table>
 {% endif %}
 <div id="languages-{{ link }}{{ product_id }}" class="htabs">
  {% for language in languages %}
  <a href="#language-{{ link }}{{ product_id }}{{ language['language_id'] }}">
   <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" alt="{{ language['name'] }}" /> {{ language['name'] }}
  </a>
  {% endfor %}
 </div>
 {% for language in languages %}
 <div id="language-{{ link }}{{ product_id }}{{ language['language_id'] }}">
  <table class="be-form">
   {% for field, value in fields %}
   {% if value['key'] != 'PRI' %}
   <tr>
    <td class="left">{{ description[field] }}</td>
    <td class="left">
     {% set text = '' %}
     {% if data[language['language_id']][field] is defined %}
     {% set text = data[language['language_id']][field] %}
     {% endif %}
     {% if value['type'] == 'text' %}
     <textarea name="{{ link }}[{{ language['language_id'] }}][{{ field }}]">{{ text }}</textarea>
     {% else %}
     <input name="{{ link }}[{{ language['language_id'] }}][{{ field }}]" value="{{ text }}" type="text" />
     {% endif %}
    </td>
   </tr>
   {% endif %}
   {% endfor %}
  </table>
  <table class="be-list">
  <tfoot>
   <tr>
    <td class="center">
     {% if product_id > -1 %}
     <input id="product-copy-data-product_name-{{ product_id }}" type="text" />
     <input id="product-copy-data-product_id-{{ product_id }}" type="hidden" />
     <a class="btn btn-primary btn-sm" onclick="copyProductData('{{ product_id }}', '{{ link }}');" title="{{ button_copy }}" style="margin-right:50px;"><i class="fa fa-copy"></i></a>
     {% endif %}
     {% if product_id == -1 %}
     <a class="btn btn-primary" onclick="setLinkFilter('{{ link }}');">{{ button_add_to_filter }}</a>
     <a class="btn btn-danger" onclick="delLinkFilter('{{ link }}');">{{ button_remove_from_filter }}</a>
     {% endif %}
     {% if product_id == 0 %}
     <a class="btn btn-primary" onclick="editLink('{{ link }}', 'upd', {{ product_id }});">{{ text_edit }}</a>
     {% endif %}
     {% if product_id > 0 %}
     <a class="btn btn-primary" onclick="listProductLink('{{ product_id }}', '{{ link }}', 'prev');" title="{{ button_prev }}"><i class="fa fa-chevron-left"></i></a>
     <a class="btn btn-primary" onclick="listProductLink('{{ product_id }}', '{{ link }}', 'next');" title="{{ button_next }}" style="margin-right:50px;"><i class="fa fa-chevron-right"></i></a>
     <a class="btn btn-success" onclick="editLink('{{ link }}', 'upd', {{ product_id }});">{{ button_save }}</a>
     <a class="btn btn-danger" onclick="$('#dialogLink').modal('hide');" title="{{ button_close }}">&times;</a>
     {% endif %}
    </td>
   </tr>
  </tfoot>
 </table>
 </div>
 {% endfor %}
</form>
<script type="text/javascript"><!--
$('#form-{{ link }}{{ product_id }} #languages-{{ link }}{{ product_id }} a').tabs();
//--></script>

{% if product_id == -1 %}
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#dialog-{{ link }}').find('.modal-header').append('{{ title }}');
});
//--></script>
{% endif %}

{% if product_id > 0 %}
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#dialogLink').find('.modal-header').append('{{ title }}');
});
//--></script>
{% endif %}

{% if product_id > -1 %}
<script type="text/javascript"><!--
autocompleteProductCopyData('{{ product_id }}');
//--></script>
{% endif %}