{% if categories %}

<nav class="main-nav" aria-label="Навигация по каталогу">
    <div class="main-nav__inner">
      <ul class="main-nav__list main-nav__list--lvl1">
        {# ! Категории 1 уровня #}
        {% for category in categories %}
          {% if category.children %}
            <li class="main-nav__item-lvl1">
              <a class="main-nav__link main-nav__link--lvl1" href="{{ category.href }}">{{ category.name }}</a>
              <div class="main-nav__dropdown">
                {# ! Категории 2 уровня #}
                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                  <ul class="main-nav__list main-nav__list--lvl2">
                    {% for child in children %}
                      <li class="main-nav__item-lvl2">
                        <a class="main-nav__link main-nav__link--lvl2" href="{{ child.href }}">{{ child.name }}</a>

                          {# ! Категория 3 уровня #}
                          {% if child.children %}
                            <ul class="main-nav__list">
                              {% for child3 in child.children %}
                                <li><a class="main-nav__link main-nav__link--lvl3" href="{{ child3.href }}">{{ child3.name }}</a></li>
                              {% endfor %}
                            </ul>
                          {% endif %}

                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
                {{ category.menu_banner }}
              </div>
            </li>
          {% else %}
            <li class="main-nav__item-lvl1">
              <a class="main-nav__link main-nav__link--lvl1" href="{{ category.href }}">{{ category.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="main-nav__close-container">
        <button class="button button--modal-close main-nav__close-button" type="button">
          <span class="link link--nounderline">Закрыть</span>
          <svg class="button__close-icon" width="40" height="40">
            <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="overlay main-nav__overlay"></div>
    </div>
  </nav>

{% endif %}
