{{ header }}
<div class="page__wrapper">

  <nav class="breadcrumbs page__breadcrumbs" aria-label="Дополнительная навигация">
    <ol class="breadcrumbs__list">
      {% for key, breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__item">
          {% if key + 1 < breadcrumbs|length %}
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          {% else %}
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}" aria-current="page">{{ breadcrumb.text }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>

  <main class="main page-account">
    <div class="change-password page-account__change-password">
      <h1 class="title title--1 page-account__title">{{ text_password }}</h1>
      <form class="change-password__form" action="{{ action }}" method="post">
        {# * Пароль #}
        <div class="textfield">
          <label class="textfield__input-container">
            <input class="textfield__input" type="password" name="password" value="{{ password }}" autocomplete="off" required minlength="4" maxlength="20">
            <span class="textfield__label textfield__label--top">{{ entry_password }}</span>
          </label>
          {% if error_password %}
            <div class="textfield__help textfield__help--error">{{ error_password }}</div>
          {% else %}
            <div class="textfield__help">от 4 до 20 символов</div>
          {% endif %}
        </div>

        {# * Подтверждение #}
        <div class="textfield">
          <label class="textfield__input-container">
            <input class="textfield__input" type="password" name="confirm" value="{{ confirm }}" autocomplete="off" required minlength="4" maxlength="20">
            <span class="textfield__label textfield__label--top">{{ entry_confirm }}</span>
          </label>
          {% if error_confirm %}
            <div class="textfield__help textfield__help--error">{{ error_confirm }}</div>
          {% endif %}
        </div>
        <div class="forgot__button-container">
          <a class="link" href="{{ back }}">« Назад</a>
          <button class="button button--action-primary" type="submit">Сохранить</button>
        </div>
      </form>
    </div>
    <div class="page-account__column-left">
      {{ column_left }}
    </div>
    {{ column_right }}
    {{ content_top }}
    {{ content_bottom }}
  </main>

</div>
{{ footer }}
