<form id="form-layout{{ product_id }}">
 {% if product_id == -1 %}
 <p><span class="be-help"><label><input name="none[{{ link }}]" type="checkbox" /> {{ text_not_contain }} > {{ title }}</label></span></p>
 {% endif %}
 {% if product_id > 0 %}
 <table class="be-form">
  <tr>
   <td width="1%"><img src="{{ product_image }}" alt="{{ product_name }}" title="{{ product_name }}" /></td>
   <td width="99%"><h3>{{ product_name }}</h3></td>
  </tr>
 </table>
 {% endif %}
 <table class="be-list">
  <thead>
   <tr>
    <td class="left">{{ text_store }}</td>
    <td class="left">{{ text_layout }}</td>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td class="left">{{ text_default }}</td>
    <td class="left">
     <select name="layout[0][layout_id]">
      <option value=""></option>
      {% for layout in layouts %}
      {% if data[0] is defined and data[0] == layout['layout_id'] %}
      <option value="{{ layout['layout_id'] }}" selected="selected">{{ layout['name'] }}</option>
      {% else %}
      <option value="{{ layout['layout_id'] }}">{{ layout['name'] }}</option>
      {% endif %}
      {% endfor %}
     </select>
    </td>
   </tr>
  </tbody>
  {% for store in stores %}
  <tbody>
   <tr>
    <td class="left">{{ store['name'] }}</td>
    <td class="left">
     <select name="layout[{{ store['store_id'] }}][layout_id]">
      <option value=""></option>
      {% for layout in layouts %}
      {% if data[store['store_id']] is defined and data[store['store_id']] == layout['layout_id'] %}
      <option value="{{ layout['layout_id'] }}" selected="selected">{{ layout['name'] }}</option>
      {% else %}
      <option value="{{ layout['layout_id'] }}">{{ layout['name'] }}</option>
      {% endif %}
      {% endfor %}
     </select>
    </td>
   </tr>
  </tbody>
  {% endfor %}
  <tfoot>
   <tr>
    <td class="center" colspan="2">
     {% if product_id > -1 %}
     <input id="product-copy-data-product_name-{{ product_id }}" type="text" />
     <input id="product-copy-data-product_id-{{ product_id }}" type="hidden" />
     <a class="btn btn-primary btn-sm" onclick="copyProductData('{{ product_id }}', '{{ link }}');" title="{{ button_copy }}" style="margin-right:50px;"><i class="fa fa-copy"></i></a>
     {% endif %}
     {% if product_id == -1 %}
     <a class="btn btn-primary" onclick="setLinkFilter('{{ link }}');">{{ button_add_to_filter }}</a>
     <a class="btn btn-danger" onclick="delLinkFilter('{{ link }}');">{{ button_remove_from_filter }}</a>
     {% endif %}
     {% if product_id == 0 %}
     <a class="btn btn-primary" onclick="editLink('{{ link }}', 'add', {{ product_id }});">{{ button_insert_sel }}</a>
     <a class="btn btn-primary" onclick="editLink('{{ link }}', 'del', {{ product_id }});">{{ button_delete_sel }}</a>
     <a class="btn btn-primary" onclick="editLink('{{ link }}', 'upd', {{ product_id }});">{{ text_edit }}</a>
     {% endif %}
     {% if product_id > 0 %}
     <a class="btn btn-primary" onclick="listProductLink('{{ product_id }}', '{{ link }}', 'prev');" title="{{ button_prev }}"><i class="fa fa-chevron-left"></i></a>
     <a class="btn btn-primary" onclick="listProductLink('{{ product_id }}', '{{ link }}', 'next');" title="{{ button_next }}" style="margin-right:50px;"><i class="fa fa-chevron-right"></i></a>
     <a class="btn btn-success" onclick="editLink('{{ link }}', 'upd', {{ product_id }});">{{ button_save }}</a>
     <a class="btn btn-danger" onclick="$('#dialogLink').modal('hide');" title="{{ button_close }}">&times;</a>
     {% endif %}
    </td>
   </tr>
  </tfoot>
 </table>
</form>

{% if product_id == -1 %}
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#dialog-{{ link }}').find('.modal-header').append('{{ title }}');
});
//--></script>
{% endif %}

{% if product_id > 0 %}
<script type="text/javascript"><!--
$(document).ready(function() {
	$('#dialogLink').find('.modal-header').append('{{ title }}');
});
//--></script>
{% endif %}

{% if product_id > -1 %}
<script type="text/javascript"><!--
autocompleteProductCopyData('{{ product_id }}');
//--></script>
{% endif %}