{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="container-fluid">
      <div class="pull-right">
      <div class="pull-right">
	<a onclick="location = '{{cstart}}'" data-toggle="tooltip" class="btn btn-primary" type="button">{{button_cstart}}</a>&nbsp;&nbsp;<a onclick="location = '{{ccontinue}}'" data-toggle="tooltip" class="btn btn-primary" type="button">{{button_ccontinue}}</a>&nbsp;&nbsp;<a onclick="location = '{{cstop}}'" data-toggle="tooltip" class="btn btn-primary" type="button">{% if (supplers.0.flag is defined and supplers.0.flag and supplers.0.flag1 is defined and supplers.0.flag1) %} {{ '<font color="#ABF74E">'~ button_cstop ~ '</font>' }}{% endif %} {% if (supplers.0.flag is defined and not supplers.0.flag and supplers.0.flag1 is defined and supplers.0.flag1) %} {{ '<font color="#FC9E46">'~ button_cstop ~ '</font>' }}{% endif %} {% if (supplers.0.flag is defined and not supplers.0.flag and supplers.0.flag1 is defined and not supplers.0.flag1) %} {{ button_cstop }}{% endif %} {% if (supplers.0.flag is defined and supplers.0.flag and supplers.0.flag1 is defined and not supplers.0.flag1) %} {{ button_cstop }}{% endif %} {% if (supplers.0.flag is not defined and supplers.0.flag1 is not defined) %} {{ button_cstop }}{% endif %}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{ insert }}" data-toggle="tooltip" title="{{ button_insert }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>    
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">      
      <div class="panel-body">        
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"> </td>                 
                  <td class="text-left" style="color: #1E91CF;">{{ column_name }}</td>
                  <td class="text-right" style="color: #1E91CF;">{{ column_scode }}</td>
                  <td class="text-right" style="color: #1E91CF;">{{ column_exec }}</td>		  
		  <td class="text-right" style="color: #1E91CF;">{{ column_report }}</td>
		  <td class="text-right" style="color: #1E91CF;">{{ column_errors }}</td>
		  <td class="text-right" style="color: #1E91CF;">{{ column_status }}</td>
                  <td class="text-right" style="color: #1E91CF;">{{ column_load }}</td>            
                  <td class="text-right" style="color: #1E91CF;">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
               {% if supplers %}
            {% for suppler in supplers %}
            <tr>
              <td style="text-align: center;">{% if suppler.selected %}
                <input type="checkbox" name="selected[]" value="{{ suppler.form_id }}" checked="checked" />
                {% else %}
                <input type="checkbox" name="selected[]" value="{{ suppler.form_id }}" />
                {% endif %}</td>
              <td class="text-left">{{ suppler.name }}</td>
              <td class="text-right">{% if suppler.suppler_id < 10 %} {{ ' 0'~suppler.suppler_id}} {% else %} {{ suppler.suppler_id}} {% endif %}</td>
              
              
              <td class="text-right">{% if (suppler.go and suppler.sos and suppler.on_off) %} {{ entry_c_work}}{% elseif (suppler.save_form and suppler.dj-suppler.djssf == 1) %} {{ entry_c_yday~suppler.dhissf }}{% elseif (suppler.save_form and suppler.dj-suppler.djssf == 0) %} {{ entry_c_today~suppler.dhissf }}{% elseif (suppler.save_form and suppler.dj-suppler.djssf > 1) %} {{ suppler.ddmhissf }}{% elseif (suppler.save_form == 0 and suppler.on_off == 1) %} {{ entry_c_wait}}{% endif %}</td>
			   
			   <td class="text-right">{% if (suppler.report is not empty) %} {{ suppler.report }}{% else %} {{ '0' }}{% endif %} / 
			  {% if (suppler.errors is not empty) %} {{ suppler.errors }}{% else %} {{ '0' }}{% endif %}</td>
			  <td class="text-right">{{ suppler.text~' '~suppler.text1~' '~suppler.text2 }}</td>
			  <td class="text-right">{% if (suppler.on_off == 1) %} {{ entry_c_on ~ ' (' ~ suppler.csort ~ ')' }}{% elseif (suppler.on_off == 0) %} {{ entry_c_off ~ ' (' ~ suppler.csort ~ ')' }}{% endif %}</td>	
              
              
              
              	
			  
			  <td class="text-right">{% for action in suppler.action %}
				<a href="{{ action.load }}" data-toggle="tooltip" title="Load">{{ suppler.form_id~'.xml/csv/xls' }}</a></td>				
                {% endfor %}</td>                
              
				<td class="text-right">{% for action in suppler.action %}
				<a href="{{ action.href }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>				
                {% endfor %}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="4">{{ text_no_results }}</td>
            </tr>
            {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>          
        </div>
      </div>
    </div>
  </div>
</div>  
{{ footer }}