<ul class="cart-list">
  {% for product in products %}
    <li class="cart-list__item">
      {% if product.thumb %}
        <a class="image-container cart-list__image-container" href="{{ product.href }}" data-loading-indicator-{{ product.cart_id }}>
          <img class="image-container__image" src="{{ product.thumb }}" width="97" height="97" alt="{{ product.name }}" loading="lazy">
        </a>
      {% endif %}
      <a class="cart-list__title" href="{{ product.href }}">{{ product.name }}</a>
      {% if product.option %}
        <dl class="dl cart-list__options-list">
          {% for option in product.option %}
            <dt class="dl__dt">{{ option.name }}</dt>
            <dd class="dl__dd">{{ option.value }}</dd>
          {% endfor %}
        </dl>
      {% endif %}

      {% if product.reward %}
        <span class="cart-list__reward">{{ product.reward }}</span>
      {% endif %}

      {% if product.error_minimum or product.error_stock %}
        <div class="cart-list__alerts">
          {% if product.error_minimum %}
            <p class="alert alert--simple-warning page-checkout__product-alert" role="alert">{{ product.error_minimum }}</p>
          {% endif %}
          {% if product.error_stock %}
            <p class="alert alert--simple-warning page-checkout__product-alert" role="alert">{{ product.error_stock }}</p>
          {% endif %}
        </div>
      {% endif %}

      <div class="quantity-input cart-list__quantity-input">
        <button class="quantity-input__button quantity-input__button--less" type="button" aria-label="Уменьшить количество" data-cart-event="click" data-cart-action="set" data-cart-setting-count="{{ product.quantity - 1 }}" data-product-id="{{ product.cart_id }}" data-cart-loading-selector=".header__cart-footer,[data-loading-indicator-{{ product.cart_id }}]" data-cart-loading-color="primary">
          <svg class="quantity-input__icon" width="24" height="24" viewbox="0 0 24 24">
            <line x1="4" y1="12" x2="20" y2="12" stroke-linecap="round"></line>
          </svg>
        </button>
        <input class="quantity-input__input-field" type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" autocomplete="off" aria-label="количество товара" data-cart-event="change" data-cart-action="set" data-cart-setting-count="value" data-product-id="{{ product.cart_id }}" data-cart-loading-selector=".header__cart-footer" data-cart-loading-color="primary">
        <button class="quantity-input__button quantity-input__button--more" type="button" aria-label="Увеличить количество" data-cart-event="click" data-cart-action="set" data-cart-setting-count="{{ product.quantity + 1 }}" data-product-id="{{ product.cart_id }}" data-cart-loading-selector=".header__cart-footer,[data-loading-indicator-{{ product.cart_id }}]" data-cart-loading-color="primary">
          <svg class="quantity-input__icon" width="24" height="24" viewbox="0 0 24 24">
            <line x1="4" y1="12" x2="20" y2="12" stroke-linecap="round"></line>
            <line x1="12" y1="4" x2="12" y2="20" stroke-linecap="round"></line>
          </svg>
        </button>
      </div>
      <div class="cart-list__price">
        {% if product.common_price %}
          {# * скидка, common_price - старая цена при наличии скидки #}
          <span class="cart-list__price-current cart-list__price-current--discount">{{ product.total }}</span>
          <br><del class="cart-list__price-old">{{ product.common_price * product.quantity }} р.</del>
        {% else %}
          {# * нет скидки #}
          <span class="cart-list__price-current">{{ product.total }}</span>
        {% endif %}
        {% if product.quantity > 1 %}
          <br><span class="cart-list__price-each">{{ product.price }} за 1 шт.</span>
        {% endif %}
      </div>
      <button class="link cart-list__love-button" type="button" data-wishlist="add" data-product-id="{{ product.product_id }}">
        <svg class="icon icon--stroked cart-list__love-button-icon" width="24" height="24">
          <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-love"></use>
        </svg>
        <span>cохранить в избранное</span>
      </button>
    </li>
  {% endfor %}
</ul>
