{{ header }}
<main class="page__wrapper main page-checkout">
  <h1 class="title title--1 page-checkout__title">{{ heading_title }}</h1>

  {% if error_warning %}
    <p class="alert alert--simple-warning page-checkout__alert-top" role="alert">{{ error_warning }}</p>
  {% endif %}

  <section class="preview page-checkout__preview" data-checkout-cart>
    {{ checkout__cart }}
  </section>

  <form data-checkout-form>
    <section class="customer-info page-checkout__customer-info page-checkout__section">
      {{ checkout__customer }}
    </section>

    <section class="delivery page-checkout__delivery page-checkout__section">
      {{ checkout__shipping }}
    </section>

    <section class="payment page-cart__payment page-cart__section">
      {{ checkout__payment }}
    </section>

    <section class="total page-checkout__total">
      {{ checkout__total }}
    </section>
  </form>




</main>
{{ footer }}
